.container.GioHang .row{
    margin-right: -15px;
    margin-left: -15px;
}
.GioHang{
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
    text-transform: uppercase;
}

.GioHang img{
    width: 120px;
    height: 120px;
}


.GioHang h4{
    font-size: 15px;
    color: #444444;
    font-family: 'Roboto';
}

.GioHang table{
    width: 100%;
    border-spacing: 0px;
    text-align: center;
    margin-bottom: 60px;
}

.GioHang table th{
    font-weight: bold;
    padding: 10px;
}

.GioHang table tr td {
    border-top: 1px solid #dddddd;
    color: #444444;
    font-family: 'Roboto';
    font-weight: 700;
    color: red;
    font-weight: bold;
}

.GioHang table tr td a{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 13px;
}

#number{
    width: 60px;
    text-align: center;
}
.item a{
    color: black;
    font-size: 16px;
}


.buttons {
    font-family: 'Roboto';
    font-weight: 700;
}

.buttons button a{
    color: #fff;
    font-family: 'Roboto';
    font-weight: 700;
}

.buttons button:hover{
    opacity: 0.5;
}

#checkout {
    float: right;
    margin-left: 15px;
}

#update-cart {
    float: right;
    background-color: gray;
}

.button-default {
    background: dodgerblue;
    border: none;
    padding: 0px 20px;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    float: right;
    height: 45px;
    line-height: 45px;
    position: relative;
    cursor: pointer;
    margin: 1px  0px;
    bottom: 35px;
}

.GioHang table td.remove a:hover{
    color: #FE9705;
}

button, input, optgroup, select, textarea {
    text-align: center;
    background-color: aliceblue;
}
